:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(/image/bg-image-bakery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  text-align: center;
}

#title {
  font-size: 40px;
  font-weight: bold;
  margin: 40px 0 0 0;
}

#description {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-weight: 400;
}

#survey-form {
  background-color: var(--color-darkblue-alpha);
  width: 800px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 10px 0;
}

.form-group label {
  margin-bottom: 5px;
}

#name,
#email,
#age,
#phone {
  height: 35px;
}

.form-group p {
  margin-top: 0;
  margin-bottom: 5px;
}

#dropdown {
  height: 30px;
  font-size: 16PX;
}

.smaller {
  font-size: 14px;
}

input {
  font-size: 16px;
}

#suggestion {
  height: 200px;
  font-size: 16px;
}

#submit {
  background-color: var(--color-darkblue);
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}

#submit:hover {
  background-color: var(--color-green);
}